* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

  
@media screen and (max-width: 768px) {
    /* For tablets: */
    div#menu_mobile {
        display:flex;
        flex-wrap: wrap;
    }

    nav#menu {
        display:none;
        padding: 0 0;
    }

    nav#menu ul {
        list-style: none;
        margin: 0 0;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    nav#menu ul li {
        width:100%;
    }

    nav#menu ul li a {
        width:100%; 
        font-size: 1em;
    }

    #menu_mobile .fa-gamepad, .fa-phone{
        color:#fff;
    }

    #logo {
        display:none;
    }

    div#content {
        padding:0.5em 0.5em !important;
    }

    div#content #header{
        font-size:1.5em;
        width:100%;
        text-align: center;
        margin:0 0;
    }

    div#slogan {
        margin: 0 0;
        font-size:1.5em;
    }

    div#intro .first3word{
        font-size:1em;
    }
    .grid-layout {
        display:block;
    }

    .grid-layout .grid-item {
        width:70%;
        display:grid;
        justify-content: center;
    }
    
    div#footer, div#underfooter {
        font-size:65%;
    }

    div#footer ul li {
        width:100% !important;
        padding:0 0;
    } 

    div#underfooter > span {
        display: none;
    }
  
}

/* For desktop: */ /*Fix-giao-dien-cho-macpro13"*/
@media screen and (max-width: 1280px) {
#menu ul li a {
    width:100%;
}

#menu ul {
    width:100%;
    padding-left:0;
    display:inline-block;
    margin-bottom: 0;
}

div#header {
    margin:0 !important;
}
 
#intro p {
    width:100%;
    text-align: center;
}

#intro #img-3 {
    align-items:center;
    display:flex;
    justify-content: center;
    width:100%;
    height:100%;
}

#intro {
    max-width: 150%;
    width: 100%;
    height:auto;
    overflow: auto;
   }   
 
#intro #box1{
    float:left;
    max-width: 33%;
    width: 33%;
    height:50%;
}  
#intro #box2{
    float:left;
    max-width: 33%;
    width: 33%;
    height:50%;
}  
#intro #box3{
    float:right;
    max-width: 33%;
    width: 33%;
    height:50%;
}  

#intro .first3word {
    text-align:center;
}

.row .col p {
       margin:0;
       padding-top:2em; 
       border:0;
   }

#intro {
    display:flex;
    flex-wrap:wrap;
    float:center;
   }

.grid-layout {
       width: 133%;
   }

.grid-layout .item-img {
       width:30%;
   }
 }
/*end media fix*/

body {
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:300;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:large;
    color:#333;
    line-height: 1.254;
}

a {
    text-decoration: none;
    color:#3b8bba;
    transition:all 0.5s;
    -moz-trasition:all 0.5s;
    -webkit-transition: all 0.5s;
}

a:hover, a:visited {
    color: #265778;
}


/*---Menu---*/
#menu_mobile {
    display:none;
    background-color: #838383;
    color:#fff;
    font-size:1em;
    padding:1em;
    cursor:pointer;
}
#nav_bar {
    width:20px;
    height:20px;
    background: #838383;
    position: relative;
    justify-content: center;
    align-items: center;
    display:flex;
    cursor: pointer;
}

#nav_bar::before {
    content: "";
    width: 12px;
    height:1px;
    background-color: #fff;
    position:absolute;
    transform: translateY(-3px);
    transition: 0.25s ease-in-out;
}

#nav_bar::after {
    content: "";
    width: 12px;
    height:1px;
    background-color: #fff;
    position:absolute;
    transform: translateY(3px);
    transition: 0.25s ease-in-out;
}

#nav_bar.open::before{
    transform: rotate(45deg);
}

#nav_bar.open::after{
    transform: rotate(-45deg);
}


#game_pad {
    margin:auto;
}

#menu ul {
    list-style-type:none;
    text-align:center;
    background-color:white;
}

#menu ul li {
    line-height:80px;
    width:240px;
    height:80px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    display:inline-table;
    position: relative;
}

#menu ul li a {
    font-style:italic;
    font-weight: bold;
    display:block;
    color:black;
    text-decoration: none;
}

#menu ul li a:hover {
    background:grey;
    color:black;
}

div.inside-item-div {
    display:none;
    width:100%;
    text-align: center;
    margin:0;
    padding:0;
}
/*
#menu ul li > .inside-item {
    display:none;
    position:absolute;
    margin:0;
    padding:0;
}

#menu ul li:hover > .inside-item {
    display:block;
}
*/

/*--End Menu--*/

/*--Content--*/
#content {
     padding: 0em 2em 0em 2em;
}
div#header {
    text-align: center;
    border-radius: 15px;
    margin-top:0;
}

#header{}
#header #logo{}
div#header, #slogan {
    text-shadow:1px 1px 1px lightgray;
    color:#8997a0;
    font-size: 3em;
    text-align: center;
    margin:1.5em;
}
/*--Xu ly anh nen dau tien--*/
div#head-img > img{
    width:100%;
    height:auto;
    border-radius: 30px;
    box-shadow:2px 2px 10px #d8d7d7;
}

/*--xu ly layout-4x4--*/
.layout-4x4 {
    justify-content: center;
    margin: auto;
    width:100%;
    height:100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display:grid;
    background-color:#fff;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.layout .box {
    width: 50%;
}

.layout-4x4 img {
    width: 100%;
    height:100%;
}

/*--xử lý row--*/
.row {
    text-align: center;
    padding-bottom: 3em;
    overflow: hidden;
}

.row .col {
    float:left;
    width:33.33333333%;
}

.row .col p {
    text-align: center;
    font-size:20px;
    color:grey;
}

.row .col > h2 {
    text-align:center;
}

.row > img {
    display:inline-block;
}
/*--san-pham--*/
#product {
    font-size:50px;
    border-top: 2px solid#D8D7D7;
    text-align:center;
    padding:70px;
}
/*--gamingpc--*/
#gaming-pc {
    font-size:50px;
    border-top: 2px solid #d8d7d7;
    text-align:center;
    padding:70px;
}

#ultrabook {
    font-size:50px;
    border-top: 2px solid #d8d7d7;
    text-align:center;
    padding:70px;
}

#console {
    font-size:50px;
    border-top: 2px solid #d8d7d7;
    text-align:center;
    padding:70px;
}
/*Phan-xu-ly-layout*/

  
.grid-layout {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
  }
  
.grid-item {
    width: 23.5%;
    height: auto;
    padding: 0.5em;
    border-radius: 15px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
  }

.grid-item:hover {
    background:lightgray;
    color:red;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transform:translateY(-5px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.005);
    
}

.grid-layout .item-img {
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.grid-layout .item-price {
    float:bottom;
    display:flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size:20px;
    color:orange;
}


.button {
    float:left;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
    background: #0071e3;
    color: white;
}


/*--Phan-Footer--*/
#footer {
    font-size:85%;
    color:#838383;
    padding:1em 0em;
    background-color:#f5f5f7;
}

#footer ul {
    padding-left:2%;
}

#footer #upImg {
    float:right;
    width:50px;
    height:50px;
    border-radius: 15px;    
}

#footer #upImg:hover {
    background:#D8d7d7;
    transition:all 1s;
    border-radius: 15px;
}

#footer ul li {
    display:inline-table;
    width:33%;
    height:30%;
    line-height: 100%;
    padding-right:1em;
}

#footer ul li a {
    text-decoration: none;
}

/*--underfooter--*/
div#underfooter {
    text-align: center;
}

#underfooter {
    font-size:100%;
    color:#838383;
    padding:0;
}

#brand-icon {
    image-rendering:optimizeQuality;
    width:9.666666%;
    height:1%;
    padding:1em;
}

#footer ul .box-1 {
    padding-right:0;
}

#footer ul .box-2 {
    padding-right:4%;
}

#footer ul .box-2 > p{
    font-size:110%;
    white-space: 10px;
    line-height: 120%;
}








